services:
  database:
    image: postgres:17
    container_name: pgsql
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=poweripam
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  database:
    driver: local
